langgraph
langchain
langchain-groq
langchain-community
duckduckgo-search
beautifulsoup4
lxml
requests
pydantic
python-dotenv
streamlit
pandas
langsmith
json-repair
geopy
undetected-chromedriver>=0.5.0
selenium>=4.20.0
pgeocode
setuptools
ddgs