langgraph
langchain
langchain-groq
langchain-community
duckduckgo-search
beautifulsoup4
lxml
requests
pydantic
python-dotenv
streamlit
pandas
langsmith
json-repair
geopy
undetected-chromedriver>=0.4.4
selenium>=4.0.0
pgeocode